{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am a dedicated ICT graduate with a bachelor's degree in Information and Communication Technology. My strong attention to detail and effective communication skills, both written and verbal, empower me to excel in managing tasks, even in fast-paced environments. Alongside my academic achievements, I possess versatile computer skills that align with the dynamic field of technology.
        </p>
        <p>
          I'm driven by a relentless desire for self-improvement and actively seek opportunities to learn and
          innovate. My unique blend of commitment, skills, and growth mindset positions me as a
          valuable asset to any team.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
